.image-logo{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
body{
    background: linear-gradient(#D3CCE3,#fffde4);
}
.btn{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: white;
}
.btn:hover{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
}
.heading{
    font-weight: bold;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 36px;
}
.cards-contact{
    box-sizing: border-box;
    height: 25vh;
    width: 25vw;
}
.contact-text{
    align-items: center;
    align-content: center;
    text-align: center;  
}
.contact{
    display: flex;
}
